#about-view { 
    margin: 0 auto;
    padding: 3%;
}

.box{
	box-shadow: var(--lumo-box-shadow-xl);
	border-radius: var(--lumo-border-radius-l);
	padding-left : 0;
	padding-right: 0;
}

#icon{
	margin:auto;
	color: white;
}

#form {
	margin-top:0;
	padding:0 2% 0 2%;
}

#vert-address{
		margin-top:4%;
}

.vert{
	border-radius: var(--lumo-border-radius-l);
	border: 1px var(--lumo-primary-text-color) solid;
	margin-bottom: 2%;
	margin-top:3%;
	margin-bottom:2.5%;
}

label{
	font-weight: lighter;
	font-size: var(--lumo-font-size-xxl);
	color: var(--lumo-primary-text-color);	
}

.button-layout{
	margin-top:0;
	padding:2% 2% 1% 2%;
}

#save-btn{
	background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
	height: 50px;
	font-size: 25px;
}

#cancel-btn {
      background-color: var(--lumo-error-color);
      color: var(--lumo-error-contrast-color);
	  height: 50px;
	  font-size: 25px;
	  
    }

.header-label {
	/* padding:1.5% 0 1% 3%; */
	border-radius: var(--lumo-border-radius-m) var(--lumo-border-radius-m) 0 0;
	background-color: rgb(48,38,79);
	margin:0;
		padding:1%;
}

.header-label label{
	color: white;
	font-weight:bold;
    font-size: var(--lumo-font-size-xxl);
    text-align: center;
    margin: 0 auto 0 auto;
    width:auto;
}







